# ASSIGNMENT 1


# show that list in python can store different elements and duplicate elements

In [1]:
lst=[10,1000000000,2.5,352.58684,'c',"Rashmi","HEY THERE"]
lst1=[10,10,34,74,35,2,63,34,77,85,77,88,74]
print("Different elements list:",lst)
print("Duplicate elements in the list:",lst1)

Different elements list: [10, 1000000000, 2.5, 352.58684, 'c', 'Rashmi', 'HEY THERE']
Duplicate elements in the list: [10, 10, 34, 74, 35, 2, 63, 34, 77, 85, 77, 88, 74]

# CHECK IF AN ELEMENT EXISTS IN THE LIST

In [6]:
n=int(input("Enter the number of items:"))
lst=[]
for i in range(n):
    ele=int(input("Enter"+str(i)+"th element:"))
    lst.append(ele)
print("The list is:",lst)
item=int(input("Enter the item to be searched:"))
if item in lst:
    print("FOUND")
else:
    print("NOT FOUND")

Enter the number of items: 4
Enter0th element: 32
Enter1th element: 5
Enter2th element: 2
Enter3th element: 5

The list is: [32, 5, 2, 5]

Enter the item to be searched: 6

NOT FOUND

# FIND THE LENGTH OF THE LIST

In [7]:
lst=[35,658,3,7,3,7,6,.37,8,3,747,8,85,4646]
print(len(lst))

14

# CREATE A LIST WITH n**2 AS ITS ELEMENTS WHERE n ranges from 1 to 5

In [8]:
n=int(input("Enter the number of items:"))
lst=[]
for i in range(1,6):
    lst.append(i**2)
print(lst)

Enter the number of items: 5

[1, 4, 9, 16, 25]

# PRINT THE ELEMENTS IN REVERSE ORDER

In [9]:
n=int(input("Enter the number of elements:"))
lst=[]
for i in range(n):
    ele=int(input("Enter "+str(i)+"th element:"))
    lst.append(ele)
print("The original list:",lst)
rev_list = lst[::-1]
print("The reversed list=",rev_list)

Enter the number of elements: 5
Enter 0th element: 35
Enter 1th element: 6
Enter 2th element: 3
Enter 3th element: 6
Enter 4th element: 2

The original list: [35, 6, 3, 6, 2]
The reversed list= [2, 6, 3, 6, 35]

# SORT THE ARRAY IN DESCENDING ORDER

In [11]:
n=int(input("Enter the number of elements:"))
arr=[]
for i in range(n):
    ele=int(input("Enter "+str(i)+"th element:"))
    arr.append(ele)

print("The orginal list=",lst)
arr.sort(reverse=True)
print("Sorted Array=",arr)

Enter the number of elements: 5
Enter 0th element: 34
Enter 1th element: 6
Enter 2th element: 3
Enter 3th element: 67
Enter 4th element: 36

The orginal list= [35, 6, 3, 6, 2]
Sorted Array= [67, 36, 34, 6, 3]

# COMPARE THE LISTS USING set() and ==

In [21]:
lst1=[1,2,3,4,5]
lst2=[5,4,3,2,1,1,2,5]
a=set(lst1)
b=set(lst2)
if a==b:
    print("EQUAL")
else:
    print("NOT EQUAL")

EQUAL

#  COMPARE THE LISTS WITH sort() and ==

In [26]:
lst1=[1,2,3,4,5]
lst2=[5,4,3,2,1,1,2,5]
lst1.sort()
lst2.sort()

if lst1==lst2:
    print("EQUAL")
else:
    print("NOT EQUAL")

NOT EQUAL

# REMOVING ELEMENTS FROM THE LIST

In [30]:
lst=[3,467,6,3,3,7,25,7,1]
print("ORIGINAL LIST",lst)
lst.pop()
print("After popping:")
print(lst)
print("After removing a specific element:")
lst.remove(467)
print(lst)
print("Clearing the entire list:")
lst.clear()
print(lst)

ORIGINAL LIST [3, 467, 6, 3, 3, 7, 25, 7, 1]
After popping:
[3, 467, 6, 3, 3, 7, 25, 7]
After removing a specific element:
[3, 6, 3, 3, 7, 25, 7]
Clearing the entire list:
[]

# CONVERTING INTEGER ARRAY TO FLOATING POINT ARRAY

In [31]:
import numpy as np
arr=[1,2,3,4,5]
print("Original integer list:")
print(arr)
int_to_float = np.asfarray(arr)
print("The corresponding floating point array is:")
print(int_to_float)

Original integer list:
[1, 2, 3, 4, 5]
The corresponding floating point array is:
[1. 2. 3. 4. 5.]

# CONVERTING LIST AND TUPLE TO ARRAY USING np.asfarray()

In [35]:
import numpy as np
lst=[1,2,5.6,7.8,"rashmi",4,5,6,5,4,3,2,1]
print("LIST=",lst)
lst_arr = np.asarray(lst)
print("List converted to array:")
print(lst_arr)
tple =(1,2,3,"rashmi",10.00)
print("Tuple =",tple)
tple_arr = np.asarray(tple)
print("Tuple converted to array:")
print(tple_arr)

LIST= [1, 2, 5.6, 7.8, 'rashmi', 4, 5, 6, 5, 4, 3, 2, 1]
List converted to array:
['1' '2' '5.6' '7.8' 'rashmi' '4' '5' '6' '5' '4' '3' '2' '1']
Tuple = (1, 2, 3, 'rashmi', 10.0)
Tuple converted to array:
['1' '2' '3' 'rashmi' '10.0']

# CONVERTING LIST AND TUPLE TO ARRAY USING np.array()

In [36]:
import numpy as np
lst=[1,2,5.6,7.8,"rashmi",4,5,6,5,4,3,2,1]
print("LIST=",lst)
lst_arr = np.array(lst)
print("List converted to array:")
print(lst_arr)
tple =(1,2,3,"rashmi",10.00)
print("Tuple =",tple)
tple_arr = np.array(tple)
print("Tuple converted to array:")
print(tple_arr)

LIST= [1, 2, 5.6, 7.8, 'rashmi', 4, 5, 6, 5, 4, 3, 2, 1]
List converted to array:
['1' '2' '5.6' '7.8' 'rashmi' '4' '5' '6' '5' '4' '3' '2' '1']
Tuple = (1, 2, 3, 'rashmi', 10.0)
Tuple converted to array:
['1' '2' '3' 'rashmi' '10.0']

Enter the first number: 1
Enter the second number: 2

Operation menu
 1.Addition
 2.Subraction
3.Multiplication
 4.Division

Enter your choice:(1,2,3 or 4): 4

Division of 1 and 2 are 0.5

Enter number of elements in fst list: 5
Enter number of elements in scnd list: 3

Enter elements into list 1:

Enter 0th element: 32
Enter 1th element: 5
Enter 2th element: 6
Enter 3th element: 6
Enter 4th element: 7

Enter elements into list 2:

Enter 0th element: 36
Enter 1th element: 24
Enter 2th element: 12

list 1 = [32, 5, 6, 6, 7]
list 2 = [36, 24, 12]
After merging:
[32, 5, 6, 6, 7, 36, 24, 12]

Enter elements into the list:

 5
 3
 5
 2
 5

List = [5, 3, 5, 2, 5]
Tuple = (1, 2, 3, 4, 5)
Updated list:
[5, 3, 4, 2, 2]
Updating tuple:

TypeError: 'type' object does not support item assignment

Original tuple is: (1, 2, 3, 4, 5, 1)
Number of elements: 6
Largest element : 5
Smallest Element: 1
Sum of the elements in the tuple: 16
Sorted tuple: [1, 1, 2, 3, 4, 5]

List converted to string and tuple
list= [1, 2, 3, 3.6, 635.56456, 'Rashmi']
List converted to String: [1, 2, 3, 3.6, 635.56456, 'Rashmi']
List converted to tuple: (1, 2, 3, 3.6, 635.56456, 'Rashmi')
Tuple converted to string and list
Tuple= (1, 2, 3, 'R', 'a', 's', 'h', 'm', 'i')
Tuple converted to String: (1, 2, 3, 'R', 'a', 's', 'h', 'm', 'i')
Tuple converted to list: [1, 2, 3, 'R', 'a', 's', 'h', 'm', 'i']
String converted to list and tuple
String= Hello World!
string converted to list= ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']
String converted to tuple= ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

Dictionary: {'Name': 'Ram', 'Age': 20, 'height': 5.55, 'Weight': 60}
Keys
dict_keys(['Name', 'Age', 'height', 'Weight'])
Values
dict_values(['Ram', 20, 5.55, 60])
keys+values
dict_items([('Name', 'Ram'), ('Age', 20), ('height', 5.55), ('Weight', 60)])
Making another copy
Dict 1= {'Name': 'Ram', 'Age': 20, 'height': 5.55, 'Weight': 60}
Popping an item
{'Name': 'Ram', 'Age': 20, 'Weight': 60}
popping the last item
('Weight', 60)
DICT= {'Name': 'Ram', 'Age': 20}
Updated dictionary
{'Name': 'Ram', 'Age': 20, 'height': 5.55, 'Weight': 60, 'school': 'lris', 'college': 'nmamit'}
Setting default value
{'Name': 'Ram', 'Age': 20, 'height': 5.55, 'Weight': 60, 'school': 'lris', 'college': 'nmamit', 'addr': None}
Clearing the dictionary
Dict= {}
Dict1= {}
Dict2= {}

Original list= [1, 2, 3, 'rashmi', 67777.567]
Positive indexing
1
67777.567
Negative indexing
rashmi
2
SLICING
[1, 2, 3, 'rashmi', 67777.567]
[1, 2, 3]
[1, 2]
['rashmi', 67777.567]